/* flexbox sticky footer from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: fixed center no-repeat url( "./scroll-background.jpg") #cbb385;
  background-size: 100% 100%;
}
.content {
  flex: 1;
}
/* end flexbox sticky footer */

.footer {
  padding: 1em;
  background-color: rgba(203,179,133,0.7);
  font-size: 1em;
}
h1 {
  font-family: 'Italianno', Brush Script MT, cursive;
  font-size: 7em;
  margin-top: 1em;
  margin-bottom: 5rem;
}
.centered {
  width: 100%;
  max-width: 70vmax;
  margin: auto;
}
#printQuote {
  font-family: 'Italianno', Brush Script MT, cursive;
  font-size: 3.5em;
  white-space: pre-wrap;
}
#author {
  font-family: 'Italianno', Brush Script MT, cursive;
  font-size: 2em;
}
#button {
  cursor: pointer;
}